.NavBar {
   
    .King {
        display: inline-block;
        margin: 10px 10px 10px 10px;
    }

    .HomeButtons {
        display: inline-flex;
        color: #60ba00;
        margin: -297px -438px 229px 801px;
        justify-content: space-between;
        gap: 20px;
        font-size: 20px;
        z-index: 1;
    }

    .LogoStatement {
        display: inline-flex;
        color: #60ba00;
        grid-column-start: 2;
        
    }
         
    .Icons {
        content: '';
        position: absolute;
        bottom: 40px;
        width: 170px;
        display: inline-block;
        justify-content: space-between;
        font-size: 50px;   

        .Icons a {
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background: transparent;
            border: 2px solid #60ba00;
            border-radius: 50%;
            font-size: 40px;
            color: bisque;
            text-decoration: none;
            z-index: 1;
            overflow: hidden;
            transition: .5s;
        }
          
        .Icons:hover {
            color: #60ba00;
            border: 2px solid bisque;
        }

        .Icons a:hover::before {
            width: 100%;
        }
        
    }

}