.NavBar {
    grid-template-columns: 292px 268px auto 275px;
    grid-template-rows: 200px 200px auto 200px;
    
    
    .King {
        display: inline-block;
        margin: 10px 10px 10px 10px;
    }

    .HomeButtons {
        display: inline-block;
        background-color: #60ba00;
        margin: 10px 10px 10px 10px;
        justify-content: space-between;
        gap: 20px;
        font-size: 20px;
        z-index: 1;
    }

    .LogoStatement {
        display: inline-block;
        margin: 10px 93px 10px 10px;
        
        .P1 {
            font-size: 40px;
            color:#60ba00;
            font-weight: 900;
        }

        .P2 .P3 {
            font-size: 26px;
            color: black;
            font-style: italic;
        }
    }
         
   

}