.Home {
    display: flex;
    background-image: linear-gradient(180deg, rgb(212, 212, 212), whitesmoke, rgb(212, 212, 212));
    margin: 10px 10px 10px 10px;


    .LogoStatement {
        color: rgb(200, 170, 0);
        font-size: 50px;
        text-align: center;
        margin: 84px 201px 516px 152px;
    }

    .HomeButtons {
        color: black;
        background-color: green;
        margin: 20px 20px 20px 20px;
    }
}

